body {
    background-image: url(https://pbs.twimg.com/media/ClUVszQXEAE0B_T?format=jpg&name=large);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-repeat: repeat-y;
}

#main {
    position: relative;
    padding-left: 20%;
}

#wrapper {
    width: 100%;
}

li {
    font-family: 'Monofett', cursive;
    font-size: xx-large;
    color: yellow;
}

li p {
    font-family: 'Courier New';
    font-size: xx-large;
    color: yellow;
    float: right;
}

footer {
    text-align: right;
    color: white;
}

a:hover {
    color: red;
    font-style: italic;
}

a:visited {
    color: rgb(255, 208, 0);
}